
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
</html>
<body>
    <form action="." method="get"> 
        <BR> 
           
        <TABLE border align="center" bgcolor="LightCyan1" border="0" cellpadding="5">
          <TR><TH COLSPAN=2><span style="background-color:SkyBlue1; color:white; padding:3px;">PARAMETERS</span></TH></TR>
          <TR>
             <TD> name1
             <TD> {{name}}
          <TR>
             <TD> name2
             <TD> {{name2}}
          <TR>
             <TD> name3
             <TD> {{name3}}
          <TR>
             <TD> dt
             <TD> {{dtbirth}}
          <TR>
             <TD> city   
             <TD> {{city}}
          <TR>
             <TD> country
             <TD> {{country}}
          <TR>
             <TD> address
             <TD> {{address}} 
          <TR>
             <TD> website
             <TD> {{website}}
          <TR>
             <TD> email
             <TD> {{email}}
 
        </TABLE>
    </form>
</body>
</html>


